body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
}

.generator {
    margin-top: 20px;
}

.password-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#password {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#regenerate-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.options label {
    margin: 5px 0;
    font-size: 14px;
}

.length {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#length {
    margin-left: 10px;
    margin-right: 10px;
}

#length-value {
    font-weight: bold;
}

#generate-multiple-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
